.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onHover :hover {
  background-color: #FFDF00;
  cursor: pointer;
}

.cloudy {
  background: url("https://media4.giphy.com/media/13bGgH9VnEDsuA/giphy.gif?cid=ecf05e47m93y4p3fdcngzcj66n7zhfogy1bfi0az21g9tbma&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.locating {
  background: url("https://dribbble.com/shots/3651282-Jumping-Pin/attachments/3651282-Jumping-Pin?mode=media");
  background-repeat: no-repeat;
  background-size: cover;
}

.sunny {
  background: url("http://gph.is/2cgVLLg") !important;
  background-repeat: no-repeat !important;
}


.dropShadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color               | secondary box shadow  */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

